/* header */
nav{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
span{
    color: orangered;
}

nav >ul {
    display: flex;
    align-items: center;
}
nav  li {
  
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.btn-nav{
    border-radius: 5px;
    background-color: orangered;
    border: 0;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
}

.header{
    background-color:#FFF8F3;
    background-image: url( '/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
/* banner */
.banner{
    padding: 30px 30px 0px 150px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner-greeting{
  font-size: 45px;
  font-weight: 700; 
  color: #474747;
  margin-bottom: 0;
}
.banner-title{
 font-size: 45px;
 font-weight: 700;
 margin-top: 20px;
}
.btn-outlate{
    border-radius: 5px;
    border: 1;
    font-weight: 900;
    padding: 14px 33px;
}
.banner-profile{
    width: 500px;
    margin-bottom: 0px;
}
.banner-des{

}
.bannner-content{
    max-width: 500px;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}



/* about */
.about{
    padding: 130px;
    background-color:#FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
}
.section-title{
    color: #181818;
    text-align: center;
    font-weight: 700;

}
.section-des{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}

#section-des{
    padding: 30px 150px;

}

/* skills */
.skills-container{
    display: flex;
    gap: 24px;
}

.skills{
padding : 30px;

border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgb(0, 0, 0,0.06);
}
.skills-des{
    color: #757575;
}
main section{
    margin-top: 130px;
}

/* resume */
.resume-col-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-institute, .resume-item-des{
color:#757575 ;

}
.resume-container hr{
    margin: 30px;
}
.btn-cv{
    border-radius: 5px;
    background-color: orangered;
    border: 0;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    text-align: center;
}
.down-cv{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer-title{
    color: #181818;
    text-align: center;
}
.footer-col{
    width: 50%;
}
.footer-des{
    max-width: 400px;
    font-weight: 500;
}
.contact input[type="text"] , input[type="email"] , textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    background: #FFF;
    border-radius: 5px;
    color: #757575;
    border: 0;
    width: 100%;
}
input[type="submit"]{
    border-radius: 5px;
    background-color: orangered;
    border: 0;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
   
}

