/* header */
nav{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
span{
    color: orangered;
}

nav >ul {
    display: flex;
    align-items: center;
}
nav  li {
  
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.btn-nav{
    border-radius: 5px;
    background-color: orangered;
    border: 0;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
}

.header{
    background-color:#FFF8F3;
}
/* banner */
.banner{
    /* padding: 30px 30px 30px 150px; */
    margin: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner-greeting{

}
.banner-title{

}
.btn-outlate{
    border-radius: 5px;
    border: 1;
    font-weight: 900;
    padding: 14px 33px;
}
.banner-profile{
    width: 500px;
}